<h1>テーマ一覧</h1>

<form action="/top/search" method="post">
<br />
 <table border="1" width="100">
    <tr>
      <td class="header_info_name" border="1"></td>
      <td class="header_info_name" border="1">テーマID</td>
      <td class="header_info_name" border="2">テーマ</td>
    </tr>

  <% index = 0 %>
  <% for theme in @themes %>
    <tr>
      <td class="detail_info_value" height="30"><input type="radio" name="themeIdSelect" value="<%=h theme.id %>" <%= "checked" if index == 0 %> /></td>
      <td class="detail_info_value" height="30"><input class="detail_info_label" type="text" readonly="readonly" name="theme" tabindex="-1" value="<%=h theme.id %>" size="10" /></td>
      <td class="detail_info_value" height="30"><input class="detail_info_label" type="text" readonly="readonly" name="theme" tabindex="-1" value="<%=h theme.name %>" size="50" /></td>
    </tr>
    <% index += 1 %>
  <% end %>
  </table>
 
  <br />
  <!--ボタンの表示（テーマがないときは表示させない）-->
  <% unless(@themes == nil || @themes.length == 0) %>
    <input type="submit" value="発言検索">
  <% end %>
  <br />
</form> 



<form action="/top/create" method="post">
<h1>発言一覧</h1>
<input type="text" name="targettheme" value="<%= session[:theme_id] %>"/></td>
<table border="1" width="200">
  <tr>
  	<td class="header_info_name" border="1">発言ID</td>
    <td class="header_info_name" border="1">発言日時</td>
    <td class="header_info_name" border="1">発言</td>
    <td class="header_info_name" border="1">発言者</td>
    <td class="header_info_name" border="1">テーマ</td>
  </tr>
<% unless(@mentions == nil || @mentions.length == 0) %>
  <% index = 0 %>
  <% for mention in @mentions %>
    <tr>
      <td class="detail_info_value" height="30"><input class="detail_info_label" type="text" readonly="readonly" name="mention_id" tabindex="-1" value="<%=h mention.id %>" size="10" /></td>
      <td class="detail_info_value" height="30"><input class="detail_info_label" type="text" readonly="readonly" name="mention_mentionedAt" tabindex="-1" value="<%=h mention.mentionedAt %>" size="10" /></td>
      <td class="detail_info_value" height="30"><input class="detail_info_label" type="text" readonly="readonly" name="mention_content" tabindex="-1" value="<%=h mention.content %>" size="50" /></td>
      <td class="detail_info_value" height="30"><input class="detail_info_label" type="text" readonly="readonly" name="mention_user" tabindex="-1" value="<%=h mention.user.name %>" size="10" /></td>
      <td class="detail_info_value" height="30"><input class="detail_info_label" type="text" readonly="readonly" name="mention_theme" tabindex="-1" value="<%=h mention.theme.name %>" size="10" /></td>
    </tr>
    <% index += 1 %>
  <% end %>
<% end %>
</table>

<br />
	<!--ボタンの表示（テーマがないときは表示させない）-->
	<% if session[:theme_id] && @contributors %>
	<!-- プルダウン -->
	<label>発言者選択</label>
	<%= select_tag('contributor',options_from_collection_for_select(@theme.users, :id, :name)) %>
<br />
	<!-- 発言 -->
	<label>発言者内容</label>
	<textarea name="content" tabindex="-1" rows="4" cols="40">
	</textarea>
<br />
<input type="submit" value="発言する"/>

<% end %>
</form> 