<%= form_for(@theme) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :users %><br />
    <%= select_tag(:users, options_from_collection_for_select(User.all, :id, :name, @theme.users.map{|user|user.id}), :multiple => true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
