<% content_for :container do %>
  <%= form_for @theme, :html => {:id => 'theme-form'} do |f| %>
    <legend>テーマ作成</legend>

    <%= render 'form', {:f => f} %>

    <div class="control-group">
      <label class="control-label" for="availableUsers">
        参加者選択
        (<%= link_to 'ユーザー作成', new_user_path, {:style => 'color:#0088CC'} %>)
      </label>
      <div class="controls">
        <%= collection_select :page, :name, @users, :id, :name, {}, {:multiple => 'multiple', :id => 'availableUsers'} %>
        <!-- two buttons will be inserted by js -->
        <%= f.collection_select :users, [], :id, :name, {}, {:multiple => 'multiple', :id => 'selectedUsers'} %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= link_to(raw('<i class="icon-ok"></i>') + " 作成", "#", {:class => 'btn', :id => "create-theme"}) %>
        <%= link_to(raw('<i class="icon-remove"></i>') + " キャンセル", themes_path, {:class => 'btn'}) %>
      </div>
    </div>
  <% end %>
<% end %> <!-- :container end-->