<% content_for :container do %>
  <%= form_for @theme, :url => createBt_themes_path, :html => {:id => 'theme-form'} do |f| %>
    <legend>テーマ作成</legend>
    <div class="control-group">
      <label class="control-label" for="inputThemeTitle">テーマタイトル</label>
      <div class="controls">
        <%= f.text_field :name, {:id => 'inputThemeTitle', :placeholder => 'テーマタイトル'} %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputDescription">テーマの説明</label>
      <div class="controls">
        <%= f.text_area :description, {:id => "textareaDescription", :placeholder => "テーマの説明", :style => "width:100%", :rows => "5"} %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="availableUsers">参加者選択</label>
      <div class="controls">
        <%= collection_select :page, :name, @users, :id, :name, {}, {:multiple => 'multiple', :id => 'availableUsers'} %>
        <button type="button" id="removeUsersBtn"><i class="icon-arrow-left"></i></button>
        <button type="button" id="selectUsersBtn"><i class="icon-arrow-right"></i></button>
        <%= f.collection_select :users, [], :id, :name, {}, {:multiple => 'multiple', :id => 'selectedUsers'} %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= link_to(raw('<i class="icon-ok"></i>') + " 作成", createBt_themes_path, {:method => :post, :class => 'btn', :id => "create-theme"}) %>
        <%= link_to(raw('<i class="icon-ok"></i>') + " キャンセル", indexBt_top_index_path + '#mention-create', {:class => 'btn'}) %>
      </div>
    </div>
  <% end %>
<% end %> <!-- :container end-->