<p id="notice" <%= notice %></p>

<p>
    <b>Name:</b>
    <%= @theme.name %>
</p>

<p>
    <b>Member:</b><br/>
    <ul>
<% @theme.users.each do |user|%>
        <li><%=user.name%> : <%=user.email%></li>
<% end %>
    </ul>
</p>

<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
