<h1>Listing mentions</h1>

<table>
  <tr>
    <th>Mentionedat</th>
    <th>Content</th>
    <th>Userid</th>
    <th>Themeid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mentions.each do |mention| %>
  <tr>
    <td><%= mention.mentioned_at %></td>
    <td><%= mention.content %></td>
    <td><%= mention.user_id %></td>
    <td><%= mention.theme_id %></td>
    <td><%= link_to 'Show', mention %></td>
    <td><%= link_to 'Edit', edit_mention_path(mention) %></td>
    <td><%= link_to 'Destroy', mention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
