<p id="notice"><%= notice %></p>

<p>
  <b>Theme:</b>
  <%= @mention.theme.name %>
  <br/>
  <b>User:</b>
  <%= @mention.user.name %>
  <br/>
  <b>Content:</b>
  <%= @mention.content %>
  <br/>
  <b>Date:</b>
  <%= @mention.mentioned_at %>
  <br/>
</p>

<%= link_to 'Edit', edit_mention_path(@mention) %> |
<%= link_to 'Back', mentions_path %>