<h1>Listing contributors</h1>

<table>
  <tr>
    <th>Themeid</th>
    <th>Userid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contributors.each do |contributor| %>
  <tr>
    <td><%= contributor.theme_id %></td>
    <td><%= contributor.user_id %></td>
    <td><%= link_to 'Show', contributor %></td>
    <td><%= link_to 'Edit', edit_contributor_path(contributor) %></td>
    <td><%= link_to 'Destroy', contributor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contributor', new_contributor_path %>
